.container{
    display:flex;
    flex-direction: row;
    padding:0;
    height:100vh;

    .banner{
      
        overflow: hidden;
        img{
            height:100vh;
            margin-top: 1p;
            width: 45vw;
        }
    }

    .login{
   
     display:flex;
     align-items: center;
     width:55vw;
  
   
        .box_login{
            display:flex;
            flex-direction: column;
            align-items: center;
            width:auto;
            padding: 1.5rem 2rem;
            background-color:#dcd9d9;
            border-radius: 10px;
            box-shadow: inset 5px -5px 70px #6c6c6c70;
            
                h1{
                    border-bottom:3px solid rgba(0, 0, 0, 0.206);
                    width: 100%;
                }

            form{
                display:flex;
                flex-direction: column;
                align-items: center;
                

                input[type='text'],input[type="password"] {
                    width: 30rem;
                    height:3rem;
                    font-size: 18px;
                    border:none;
                    background-color:#fff ;
                    border-radius: 5px;
                }

               button{
                    margin:1rem auto;
                    font-size: 18px;
                    width: 15rem;
                    height:3rem;
                    border-radius:5px;
                    border:none;
                    background-color:#01640ecc;
                    color:#fff;
                    font-weight: 600;
                }

                label{
                    font-size: 20px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    font-weight: 700;
                }
            }
        }
    }

}