.container {
    display: flex;
    flex-direction: row;
    padding: 0;
    height: 100vh;
    background-image: (url(../../res/banner-login.png));
       background-repeat: no-repeat;
       background-size: cover;
       background-position:center;
   

    .banner {
       overflow: hidden;
       width:100%;

        img {
            height: 100vh;
            margin-top: 1p;
            width: 45vw;
        }
    }

    .login {

        display: flex;
        align-items: center;
        width: 55vw;
        overflow: hidden;
        background-color: #ffffffd9;
        width:80%;
     
       

        .register {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 30rem;
      
          a{
            font-weight: 600;
          }

          a:hover{
            font-weight: 800;
           text-shadow: 1px 1px 1px #00f92150;
          }
        }

        .box_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            padding: 1.5rem 2rem;
            border-radius: 10px;
            margin-bottom: 150px;
           

            img{
                position:relative;
            }

            h1 {

                width: 30rem;
                text-align: left;
                font-size: 30px;
                color: green;
            }

            .saudacao {
                width: 30rem;

                span {
                    font-size: 22px;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                }

                .empresa {
                    font-size: 18px;
                    font-weight: 700;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;



                input[type='text'],
                input[type="password"] {
                    width: 30rem;
                    height: 3rem;
                    font-size: 18px;
                    border: none;
                    background-color: #8ef69c6d;
                    border-radius: 5px;
                    margin-bottom: 40px;
                }

                button {
                    margin: 1rem auto;
                    font-size: 18px;
                    width: 30rem;
                    height: 3rem;
                    border-radius: 5px;
                    border: none;
                    background-color: #01640ecc;
                    color: #fff;
                    font-weight: 600;
                }

                label {
                    font-size: 18px;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    font-weight: 500;
                    text-align: left;
                    width: 30rem;
                    color:#028816;
                }
            }
        }
    }

}