.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;

  .titulo {
    width: 100vw;
    height:auto;
    text-align: center;

 

    h1 {
      font-size: 150px;
      position:absolute;
      left:30%;
      color:#fff;
      text-shadow: 2px 2px 6px #000000a8; 
    }

    img{
        width: 100%;
        margin-bottom: 150px;
    }

  }

  .sobre {

  width: 80%;

    p {
      font-size: 24px;
      line-height: 35px;
    }
  }


  .testes{
    width: 80%;
  }


  .chamada{
   width: 80%;; 
   
}
.actionButton{
  width:20%;
  padding-top: 15px;
  margin:5% 40%;
  padding-bottom: 15px;
  font-size: 22px;
  border-radius: 7px;
  border:none;
  box-shadow: inset 2px -2px 5px #2a2929cd;
  background-color: #01640ecc;
}
}

